/* Importing the font used by frg.org.uk */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #7166AD;
    color: #333;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

#searchInput {
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

main {
    padding: 20px;
}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
}

.faq-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.faq-question {
    width: 100%;
    background-color: #e6e6e6;
    border: none;
    padding: 15px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.faq-question:hover {
    background-color: #d9d9d9;
}

.faq-answer {
    display: none;
    padding: 15px;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
}
